[Unit]
Description=Qt Kiosk Browser
DefaultDependencies=no
#Conflicts=getty@tty1.service
After=weston@root.service
Requires=weston@root.service

[Service]
Restart=on-failure
Enviornment="QT_QPA_PLATFORM=wayland-egl"
ExecStart=/usr/bin/qt-kiosk-browser -platform xcb /etc/qt-kiosk-browser.conf
RestartSec=1

[Install]
WantedBy=multi-user.target
#Alias=display-manager.service
